template.yaml
AWSTemplateFormatVersion: "2010-09-09"
Transform: AWS::Serverless-2016-10-31
Description: Order Processing

Parameters:
  Environment:
    Type: String
    AllowedValues:
      - dev
      - prod

Globals:
  Function:
    Timeout: 12
    MemorySize: 512
    Runtime: nodejs16.x
    CodeUri: lambda_js
    Architectures:
      - x86_64

Resources:
  ApiGateway:
    Type: AWS::Serverless::Api
    Properties:
      StageName: !Ref Environment

  OrderProcessingTrigger:
    Type: AWS::Serverless::Function
    Properties:
      Policies:
        - AWSLambdaBasicExecutionRole
        - Statement:
            - Effect: Allow
              Action:
                - states:StartExecution
              Resource:
                - !Ref OrderProcessing
      FunctionName: !Sub ${AWS::StackName}-fn-order_processing_trigger
      Handler: functions/order_processing_trigger/function.handler
      Environment:
        Variables:
          ORDER_PROCESSING_ARN: !Ref OrderProcessing
      Events:
        ApiEvent:
          Type: Api
          Properties:
            Path: /order_processing
            Method: POST
            RestApiId: !Ref ApiGateway
    Metadata:
      BuildMethod: esbuild
      BuildProperties:
        Target: es2020
        EntryPoints:
          - functions/order_processing_trigger/function.ts

  VerifyPayment:
    Type: AWS::Serverless::Function
    Properties:
      Policies:
        - AWSLambdaBasicExecutionRole
      FunctionName: !Sub ${AWS::StackName}-fn-verify_payment
      Handler: functions/verify_payment/function.handler
    Metadata:
      BuildMethod: esbuild
      BuildProperties:
        Target: es2020
        EntryPoints:
          - functions/verify_payment/function.ts

  HandleSQSErrors:
    Type: AWS::Serverless::Function
    Properties:
      Policies:
        - AWSLambdaBasicExecutionRole
        - Statement:
            - Effect: Allow
              Action:
                - ses:SendEmail
                - ses:SendRawEmail
              Resource: "*"
      FunctionName: !Sub ${AWS::StackName}-fn-handle_errors
      Handler: functions/handle_errors/function.handler
      Environment:
        Variables:
          FROM_EMAIL: !Sub "{{resolve:secretsmanager:order-processing-${Environment}-secrets-notification-email:SecretString:from_email}}"
      Events:
        SQSEvent:
          Type: SQS
          Properties:
            Queue: !GetAtt OrderProcessingDLQ.Arn
    Metadata:
      BuildMethod: esbuild
      BuildProperties:
        Target: es2020
        EntryPoints:
          - functions/handle_errors/function.ts

  OrderProcessingDLQ:
    Type: AWS::SQS::Queue
    Properties:
      QueueName: !Sub ${AWS::StackName}-order_processing_dlq
      Tags:
        - Key: Environment
          Value: !Ref Environment

  OrderProcessing:
    Type: AWS::Serverless::StateMachine
    Properties:
      Name: !Sub ${AWS::StackName}-sf-order_processing
      Events:
        ApiEvent:
          Type: Api
          Properties:
            Path: /order
            Method: POST
            RestApiId: !Ref ApiGateway
      Policies:
        - Statement:
            - Effect: Allow
              Action:
                - dynamodb:Query
                - dynamodb:UpdateItem
              Resource:
                - !Sub "arn:aws:dynamodb:${AWS::Region}:${AWS::AccountId}:table/${AWS::StackName}-db-products"
            - Effect: Allow
              Action:
                - dynamodb:PutItem
              Resource:
                - !Sub "arn:aws:dynamodb:${AWS::Region}:${AWS::AccountId}:table/${AWS::StackName}-db-shipping"
            - Effect: Allow
              Action:
                - ses:SendEmail
                - ses:SendRawEmail
              Resource: "*"
            - Effect: Allow
              Action:
                - lambda:InvokeFunction
              Resource:
                - !GetAtt VerifyPayment.Arn
            - Effect: Allow
              Action:
                - events:PutTargets
                - events:PutRule
                - events:DescribeRule
              Resource:
                - !Sub "arn:aws:events:${AWS::Region}:${AWS::AccountId}:rule/StepFunctionsGetEventsForStepFunctionsExecutionRule"
            - Effect: Allow
              Action:
                - events:PutEvents
              Resource:
                - !Sub "arn:aws:events:${AWS::Region}:${AWS::AccountId}:event-bus/default"
            - Effect: Allow
              Action:
                - sqs:SendMessage
              Resource: !GetAtt OrderProcessingDLQ.Arn
      Definition:
        Comment: Verify Order Processing Steps
        StartAt: Check Item
        TimeoutSeconds: 300
        States:
          Check Item:
            Type: Task
            Resource: arn:aws:states:::aws-sdk:dynamodb:query
            Parameters:
              TableName: !Sub "${AWS::StackName}-db-products"
              KeyConditionExpression: product_name = :product_name
              FilterExpression: count_in_stock >= :quantity
              ExpressionAttributeValues:
                ":product_name":
                  S.$: $.event.product.product_name
                ":quantity":
                  N.$: $.event.product.quantity
            Retry:
              - ErrorEquals:
                  - States.ALL
                IntervalSeconds: 5
                MaxAttempts: 3
                BackoffRate: 2
            ResultPath: $.shipping_information
            Next: Verify Payment
          Verify Payment:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            OutputPath: $.Payload
            Parameters:
              Payload.$: $
              FunctionName: !Ref VerifyPayment
            Next: Create Shipping Record
            Catch:
              - ErrorEquals:
                  - States.ALL
                Comment: Runtime Exception
                ResultPath: $.Cause
                Next: Send Error Message
          Create Shipping Record:
            Type: Task
            Resource: arn:aws:states:::aws-sdk:dynamodb:putItem
            Parameters:
              TableName: !Sub "${AWS::StackName}-db-shipping"
              Item:
                email:
                  S.$: $.event.costumer.email
                product_id:
                  S.$: $.shipping_information.Items[0].product_id.S
                user_name:
                  S.$: $.event.costumer.user_name
                address:
                  S.$: $.event.costumer.address
                product_name:
                  S.$: $.shipping_information.Items[0].product_name.S
                product_quantity:
                  N.$: $.event.product.quantity
                product_price:
                  N.$: $.shipping_information.Items[0].product_price.N
                shipped:
                  S: "true"
            Retry:
              - ErrorEquals:
                  - States.ALL
                IntervalSeconds: 5
                MaxAttempts: 3
                BackoffRate: 2
            ResultPath: $.create_shipping_record_output
            Next: Update Product Details
          Update Product Details:
            Type: Task
            Resource: arn:aws:states:::aws-sdk:dynamodb:updateItem
            Parameters:
              TableName: !Sub "${AWS::StackName}-db-products"
              Key:
                product_id:
                  S.$: $.shipping_information.Items[0].product_id.S
                product_name:
                  S.$: $.shipping_information.Items[0].product_name.S
              UpdateExpression: "SET count_in_stock = :count_in_stock - :qty"
              ExpressionAttributeValues:
                ":qty":
                  N.$: $.event.product.quantity
                ":count_in_stock":
                  N.$: $.shipping_information.Items[0].count_in_stock.N
              ReturnValues: "ALL_NEW"
            Retry:
              - ErrorEquals:
                  - States.ALL
                IntervalSeconds: 5
                MaxAttempts: 3
                BackoffRate: 2
            ResultPath: $.update_product_detail_result
            Next: Send Confirmation Email
          Send Confirmation Email:
            Type: Task
            Resource: arn:aws:states:::aws-sdk:ses:sendEmail
            Parameters:
              Destination:
                "ToAddresses.$": "States.Array($.event.costumer.email)"
              Message:
                Body:
                  Text:
                    "Data.$": "States.Format('Your product - `{}`, qty - `{}` has been shipped successfully!', $.event.product.product_name, $.event.product.quantity)"
                Subject:
                  Data: "Order Confirmation"
              Source: !Sub "{{resolve:secretsmanager:order-processing-${Environment}-secrets-notification-email:SecretString:from_email}}"
            Retry:
              - ErrorEquals:
                  - "States.TaskFailed"
                MaxAttempts: 2
                IntervalSeconds: 3
                BackoffRate: 2
            Next: Success
          Success:
            Type: Succeed
          Send Error Message:
            Type: Task
            Resource: arn:aws:states:::sqs:sendMessage
            Parameters:
              MessageBody.$: $.Cause.Cause
              MessageAttributes:
                email:
                  DataType: String
                  StringValue.$: $.event.costumer.email
              QueueUrl: !Ref OrderProcessingDLQ
            Next: Fail
          Fail:
            Type: Fail
Outputs:
  ApiID:
    Value: !Ref ApiGateway
    Export:
      Name: !Sub ${AWS::StackName}-ag-id
